/* General Styles */
* {
    font-family: 'IBM Plex Serif',serif;
    text-decoration: none;
    /*border-style: solid;*/
}
p{
    font-size: 110%;
}
a:hover{
    color: #000000;
    text-decoration: underline;
}
a,a:link{
    color:#000000;
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}

/* Class Styles */
    /* Nav Styles */
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
}
.nav-link, .dropdown-item {
    color:#0046a1 !important;
    font-family: 'Pacifico', cursive;
    text-decoration: none !important;
}

    /* Other Styles */
.transbox {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3%;
    padding-bottom: 200px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: scroll;
    height: 100%
}
.page-titles {
    text-align: center;
    font-weight:800;
    padding-bottom: 5%;
}
.img-fluid {
    padding-top: 5px;
}
.logo {
    width: 15%;
    max-width: 50px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    margin-top: 5px;
    opacity: 0.5;
}
.logo:hover {
    opacity: 1;
    margin-left: 2px;
    margin-right: 2px;
}
.logo-contact {
    width: 15%;
    max-width: 50px;
    padding: 0;
    margin-top: 5px;
    margin-left: 5%;
}
.center-text{
    text-align: center;
}
.contact-link {
    text-decoration: underline !important;
}
.page-divider {
    width: 70%;
}
.project-snip-indent {
    margin-left: 5%;
}

/* ID Styles */
#about-me-background {
    background-image: url("images/MinimalBackground.jpg");    
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    border-radius: 0;
}
#about-me {
    text-align: center;
}